.password-form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 20px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn {
    width: 150px;
}

.icon-password {
    cursor: pointer;
}

.icon-password:hover {
    opacity: .5;
}

.pStyle {
    margin-top: 0;
    color: red;
}